<p id="notice"><%= notice %></p>


<!doctype html>
<meta charset="utf-8">
 
  <style>

  body { font: 12px Arial;}

  path { 
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }

  </style>
<center>
<h1>Pitch Distribution</h1>
<form id="matchup_form">
  <select id="pitchers">
      <option value="choose_pitcher">Choose A Pitcher</option>
      <% Player.pitchers.each do |pitcher| %>
        <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
      <% end %>
    </select>
</form>


<!-- create container element for visualization -->
<div id="viz"></div></center>
<!-- load D3js -->
<script src="http://www.d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="http://www.d3plus.org/js/d3plus.js"></script>

<%= javascript_include_tag "pitch_distribution" %>