<style>
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#home-video {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8; 
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;

}

a, a:hover, a:active, a:visited { color: white; text-decoration:none;}

  h6 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 15%;
    left: 40%;
    font-size: 500%;
    font-family: 'bosox';
}
</style>
<%= video_tag "home.mp4", :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :id => "home-video" %>
  <div>
   <h6><font color = "white"><p><a href="/directory">d'ATTA BOY</a></p></h6></font>
  </div>