<style> a, a:hover, a:active, a:visited { color: white; text-decoration:none;}
</style>

<div class="jumbotron">
  <h1>Pitcher vs Batter Matchups</h1>
  <p>This is a directory of every Pitcher/Batter matchup in the 2015 MLB Playoffs. Go here to view every at-bat and pitch sequence for a particular matchup.</p>
  <p><a href="/players" class="btn btn-primary btn-lg">VIEW</a></p>
</div>

<div class="jumbotron">
  <h1>Pitch Distribution</h1>
  <p>This is a graph of every pitch thrown by a Pitcher in the 2015 MLB Playoffs. Go here to view what type of pitch was thrown and where it went.</p>
  <p><a href="/pitches" class="btn btn-primary btn-lg">VIEW</a></p>
</div>

<div class="jumbotron">
  <h1>Home Run Leaderboard</h1>
  <p>This is a graph of the top 10 Home Run hitters in the 2015 MLB Playoffs.</p>
  <p><a href="/home_run_leaders" class="btn btn-primary btn-lg">VIEW</a></p>
</div>

<div class="jumbotron">
  <h1>Strikeout Leaderboard</h1>
  <p>This is a graph of the top 10 Strikeout pitchers in the 2015 MLB Playoffs.</p>
  <p><a href="/strikeout_leaders" class="btn btn-primary btn-lg">VIEW</a></p>
</div>

<div class="jumbotron">
  <h1>Final Scores</h1>
  <p>This is a directory of the final score to every game in the 2015 MLB Playoffs.</p>
  <p><a href="/games" class="btn btn-primary btn-lg">VIEW</a></p>
</div>
