
<body>
  <center>
    <h1>Top 10 Home Run Hitters 2015 Playoffs</h1>
    <canvas id="home-run-chart" width="800" height="800"></canvas>
  </center>
</body>

<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "top_home_run_hitters" %>