

  <body>
    <h1>Top 5 Home Run Hitters 2015 Playoffs</h1>
    <canvas id="home-run-chart" width="1000" height="1000"></canvas>
  </body>
  
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "top_home_run_hitters" %>