<form id="matchup_form" style="padding-top: 9%;">
<center>
  <select id="pitcher_id" style="width: 20%;height:4em">
    <option value="choose_pitcher">Choose A Pitcher</option>
      <% Player.pitchers.each do |pitcher| %>
        <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
      <% end %>
  </select>

  <select id="batter_id" style="width: 20%;height:4em">
    <option>Select Batter</option>
  </select>
</center>
</form>

<center><button class='sequence-button-js hidden'> Show Sequence </button></center>
<div id="batters-box"></div>
<div id="pitches-table"></div>


<%= javascript_include_tag "application" %>
