<h3>D-atta Boy</h3>
<%= link_to 'Home', welcome_path %>
<p>2015 Playoffs Roster</p>

<!-- <div id='users-counter'>
</div> -->

<form id="matchup_form">
  <select id="pitcher_id">
    <option value="choose_pitcher">Choose A Pitcher</option>
    <% Player.pitchers.each do |pitcher| %>
      <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
    <% end %>
  </select>
  <select id="batter_id">
    <option>Select Batter</option>
  </select>
</form>

<%= javascript_include_tag "application" %>
