
<form id="matchup_form">
<center>
  <select id="pitcher_id" style="width: 20%;height:4em">
    <option value="choose_pitcher">Choose A Pitcher</option>
      <% Player.pitchers.each do |pitcher| %>
        <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
      <% end %>
  </select>

  <select id="batter_id" style="width: 20%;height:4em">
    <option>Select Batter</option>
  </select>
</center>
</form>



<%= javascript_include_tag "application" %>
