<nav class="navbar navbar-inverse">
  <div class="container-fluid">  
      <ul class="nav navbar-nav">
        <li><a href="/">d'ATTA BOY</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/players">Matchups</a></li>
        <li><a href="/home_run_leaders">Home Run Leaderboard</a></li> 
        <li><a href="/strikeout_leaders">Strikeout Leaderboard</a></li>
        <li><a href="/pitches">Pitcher Trends</a></li> 
      </ul>
  </div>
</nav>